@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&family=Suez+One&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  background-image: linear-gradient(#2b0551,#7597de);
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
}
ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.logo{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 4px;
}
header ul li{
  margin-left: 20px;
}
header ul li a{
  padding: 6px 15px;
  color: #fff;
}
header ul li a:hover,
header ul li a.active{
  background: #fff ;
  color: #2b0551;
  border-radius: 20px;
}